* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);
    /*grid-template-columns: repeat(4, 100px);
    creates a grid with 4 columns of 100px height 
    grid-template-rows: 100px, 100px, 100px, 100px; */
    gap: 40px;

    /* column-gap: 20px;*/
    grid-template-areas: 
    "h h h h"
    "m m m m"
    "m m m m"
    "n n a a"
    "f f f f";

}

header {
    grid-area: h;
   /* grid-column-start: 1;
    grid-column-end: 5; */
}

main {
    grid-area: m;
}
nav {
    grid-area: n;
}
/* space between both is cause of gap property*/
aside {
    grid-area: a;
}
footer {
    grid-area: f;
}



.s {
    padding: 20px;
    text-align: center;
    color: white;
    background: purple;
}


/*
.new {
    padding: 20px;
    height: 100vh;
    background-color: red;
    display: grid;
}


.a {
    padding: 20px;
    text-align: center;
    color: white;
    background: purple;

}


