* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #0d1422;
    height: 57px;
    width: 100%;
    display: flex;
    color: #cfd0d3;
    position: fixed;
    z-index: 7;
}
header h1 {
    padding: 10px;
    font-size: 30px;
    margin-left: 15px;

}
.navbars {   
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.navbars a {
    white-space: nowrap; /*made my two word link that was block an inline */
    text-decoration: none;
    color: #cfd0d3;
    margin-left: 35px;
    font-size: 14px;
}
.header-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    margin-right: 23px;
}
.sign-up {
    height: 40px;
    font-size: 16px;
    background-color: #0d1422;
    color: #cfd0d3;
    border: none;
    margin-top: 10px;
}
.sign-up:hover {
    color: white;
}
.buy {
    width: 120px;
    height: 38px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #cfd0d3;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: none;
}
.buy:hover {
    background-color: white;
}
.buyres {
    height: 50px;
    width: 100%;
    background-color: #cfd0d3;
    color: #131a28;
    font-size: 18px;
    border: none;
    z-index: 9;
    display: none;
}

.bg1 {
    background-image: url(/Media/humankind\ bg1.jpg);
    background-size: cover;
    max-width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.middleone {
    height: 230px;
 }
.bg1-button {
    width: 180px;
    height: 62px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 17px;
}
.bg1-button:hover {
    background-color: white;
    color: black;
}
hr {
    height: 5px;
    background-color: white;
}
.bg2 {
    background-color: #0d1422;
    /* height: 700px; */
}

.title {
    margin-left: 35%;
    height: 70px;
    padding: 50px;
    width: 430px;
    color: white;

}
.title1 {
    font-size: 25px;
}
.title2 {
    font-size: 50px;

}
/* .texts  {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 17px;
} */
.texts img {
    width: 190px;
    height: 260px;
    border-radius: 7px;
}
.texts {
    display: flex;
    gap: 40px;
    font-size: 16px;
    color: #cecece;
    margin-left: 16%;
    padding-bottom: 30px;
}
.texts h1 {
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 16px;
    width: 185px;
}
.texts p {
    width: 170px;
}
.texts h2 {
    font-size: 14px;
    width: 170px;
}
.bg3 {
    background-image: url(/Media/whitebackground.jpg);
    /* height: 600px; */
    background-size: cover;
    display: flex;
    justify-content: center;
}
.words {
    margin-top: 10%;

}
.words h1 {
    margin-bottom: 30px;
    font-size: 40px;
    color: #222738;
}
.words p {
    color: #3d404a;
    font-size: 17px;
}
.words ul {
    color: #3d404a;
    font-size: 17px;
    margin-left: 30px;


}
.button4 {
    width: 150px;
    height: 62px;
    margin-top: 30px;
    background-color: #131622;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    margin: 30px;
}
.button4:hover {
    border: 1px solid black;
    background-color: white;
    color: black;

}
.card {
    width: 460px;
    height: 260px;
    margin-top: 10%;
    margin-left: 40px;
    box-shadow: 5px 5px 10px;
}
.bg4 {
    background-image: url(/Media/blue\ background.jpg);
    /* height: 650px; */
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bg4 img {
    height: 230px;
    width: 380px;
    margin-top: 70px;
}
.bg4-texts {
    width: 450px;
    color: #f4f3ef;
    margin-top: 70px;
}
.bg4-texts h1{
    width: 430px;
    font-size: 40px;
    margin: 20px;
}
.bg4-texts h2 {
    font-size: 18px;
    margin: 20px;
}
.bg4-texts p {
    font-size: 16px;
    margin: 20px 20px 0px 20px;
}
.button5 {
    width: 180px;
    height: 62px;
    margin-top: 32px;
    margin-left: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    margin-bottom: 30px;
}
.button5:hover {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: black;

}
.bg5 {
    background-image: url(/Media/astronautbgblur.jpg);
    background-size: cover;
    height: 350px;
}
.quotesgen {
    display: flex;
    justify-content: center;
    text-align: center;
}
    
.quotes {
    margin-top: 80px;
    position: absolute;
    width: 550PX;
    color: white;
    font-size: 17px;
    animation: rotatewords 9s linear infinite;
}
.quotes:nth-child(1) {
    animation-delay: 0S;
}
.quotes:nth-child(2) {
    animation-delay: 3s;
}
.quotes:nth-child(3) {
    animation-delay: 6s;
}
.quotes:nth-child(4) {
    animation-delay: 9s;
}

@keyframes rotatewords {
    0% {opacity: 0;}
    5% {opacity: 1;}
    25% {opacity: 1;}
    35% {opacity: 0;}
    100% {opacity: 0;}
}
.quotes h1 {
    margin: 30px;
}
.bg6 {
    background-color: #131622;
    /* height: 1560px;  */
}
.bg6 h1{
    color: white;
    font-size: 30px;
    position: relative;
    top: 100px;
    margin-left: 44%;
}
.buttonI {
    border: 1px solid white;
    color: white;
    background-color: #0d1422;
    font-size: 16px;
    border-radius: 5px;
    width: 68px;
    height: 30px;
    position: relative;
    left: 69%;
}
.buttonv {
    color: white;
    border: 1px solid white;
    background-color: #0d1422;
    font-size: 16px;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    position: relative;
    left: 70%;
    margin-top: 10%;

}
.grid-section img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.grid-section {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: repeat(4, 1fr);
    column-gap: 1%;
    row-gap: 15px;
    width: 900px;
    margin-top: 14px;
    margin-left: 200px;
    padding-bottom: 40px;
}
.big {
    grid-row: span 2;
    grid-column: span 2;
}
.bg7 {
    background-image: url(/Media/7th\ bg.jpg);
    height: 400px;
    background-size: cover;
}
.bg7-image {
    width: 400px;
    padding-top: 30px;
    margin: 0px 20px 0px 80px;


}
.bg7 h2 {
    color: white;
    font-size: 16px;
    margin: 20px 20px 0px 80px;
}
.button6 {
    margin: 30px 20px 20px 80px;
    width: 330px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    font-size: 15px;
    border-radius: 4px;

}
.bg8 {
    background-color: #13223f;
    height: 500px;
}
.shit {
    display: flex;
    gap: 40px;
    margin: 0px 0px 30px 60px;

}
.shit img {
    width: 170px;
}
.secondhr {
    height: 1px;
    margin: 20px 0px 30px 60px;

}
.bg8 p {
    color: white;
    font-size: 13px;
    margin: 30px 0px 30px 60px;
}
.things {
    display: flex;
    font-size: 14px;
}
@media (max-width: 768px) {
    .navbars a{
        display: none;
    }
    .sign-up {
        display: none;
    }
    .title {
        /* padding-left: 90px; */
        margin-left: 0%;
        width: 600px;
    }
    .title1 {
        /* word-spacing: 8px; */
        display: inline;
        font-size: 46px; 
    }
    .title2 {
        font-size: 95px;
    }
    .texts img {
        width: 280px;
        height: 350px;
    }
    .texts {
        padding-top: 40px;
        display: flex; 
        flex-wrap: wrap;  
        margin: 1%;
        column-gap: 100px;
        padding-bottom: 40px;
    }
    .texts p {
        font-weight: bolder; 
        width: 250px;
        font-size: 17px;
    }
    .card {
        width: 380px;
        height: 230px;
        margin-right: 40px;
    }
    .button4 {
        margin-bottom: 20px;
    }
    .bg4-texts h1{
        width: 350px;
    }
    .button5 {
        margin-bottom: 20px;
        height: 50px;
        width: 150px;
    }
    .bg5{
        height: 400px; 

    }
    .quotes {
        width: 350px;
        font-weight: bolder;
    }
    .grid-section {
        grid-template-columns: repeat(2 , 1fr);
        grid-auto-rows: repeat(2, 1fr);
        width: 600px; 
        margin-left: 100px;
        gap: 10px;
        
    }

}
@media (max-width: 426px) {
    .navbars a{
        display: none;
    }
    .buy {
        display: none;
    }
    .sign-up {
        display: none;
    }
    .buyres {
        display: block;
    }
    .images {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 40px;
        margin-top: 17px;
    }
}