* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #201313;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;

}

header {
    width: 100%;
    display: flex;
    background-color: #201313;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    position: fixed;
    top: 0;
}

header img {
    width: 200px;
    padding-top: 40px;

}

.navbars {
    margin-top: 20px;
    margin-left: 100px;

}

.navbars a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 40px;
    color: white;
}

header button {
    margin-top: 15px;
    margin-left: 300px;
    color: white;
    background-color: #e03131;
    width: 210px;
    height: 42px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}
.button1:hover {
    background-color: #e03131;
    border: 2px solid  #e03131;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    color: white;
}

.hero-left {
    width: 30%;
    position: absolute;
}

.hero-right {
    width: 40%;
}

.texts {
    margin-left: 14%;
}

.texts h1 {
    font-weight: bolder;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 18%;

}

.texts p {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px;
}

.texts button {
    color: white;
    background-color: #e03131;
    width: 150px;
    height: 42px;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 40px;
}
.line {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    padding-bottom: 20px;
}
/* .line img { */
    z-index: 2;
}
.line p {
    color: white;
    gap: 10px;
    margin: 10px 20px;
    margin-left: -350px;

}

video {
    width: 100%; 
    height: 20%;

}

.section3 {
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.product p {
    border: 2px solid #29d1b8;
    padding: 5px 15px;
    border-radius: 25px;
    color: #29d1b8;
    font-size: 20px;
}

.review a {
    color: #ffe7a3;
    word-spacing: 6px;
    font-size: 18px;
}

.review {
    width: 500px;
}
.review h1 {
    font-size: 40px;
}
.review p {
    font-size: 20px;
}


.divs {
    height: 250px;
    width: 250px;
    background-color: #2f1d1c;
    position: absolute;
    border-radius: 50%;
    margin: -50px;
}

.profile {
    width: 500px;
    margin-top: 50px;
}

.profile p {
    position: relative;
    z-index: 1;
    font-size: 20px;
}

.ux {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.ux img {
    border-radius: 50%;
    width: 50px;
}

.section4 {
    /* height: 500px; */
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.texts2 { 
    width: 800px;
    margin: 20px 0;
    padding-left: 80px;
}
.texts2 h1 {
    margin: 10px 0 20px 0;
    font-size: 40px;
    font-weight: bolder;
}
.texts2 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 670px;
    margin: 10px 0 20px 0;
}
.texts2 a {
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 20px;
}
.texts2 a:hover {
    color: #b67013;
    text-decoration: none;

}
.business-stage  {
    width: 290px;
    padding-top: 170px;
    padding-right: 120px;
}
.business-stage a {
    font-size: 22px;
    color: white;
}
.business-stage a:hover {
    color: #b67013;
    text-decoration: none;
}
.business-stage p {
    margin-bottom: 10px;
    font-size: 22px;
}
.business-stage li {
    margin-bottom: 14px;
}
.section5 {
    height: 700px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 70px;
}
.texts3 {
    padding-left: 60px;
}
.texts3 h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.texts3 p {
    font-size: 22px;
    width: 560px;
    margin: 10px 0 20px 0;
}
.texts3 a {
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 20px;
}
.texts3 a:hover {
    color: #b67013;
    text-decoration: none;

}
.companies {
    width: 600px;
    padding-top: 80px;
    padding-right: 40px;
    display: grid;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px; 
    column-gap: 50px; 
}
.companies img {
    width: 70%;
    height: 50%;
}
.section6 {
    padding-top: 40px;
    /* height: 600px; */
    display: flex;
    padding-left: 100px;
    color: white;
}
.section6 img {
    width: 550px;
    padding-top: 40px;
}
.texts4 {
    padding-top: 120px;
    width: 470px;
}
.texts4 p {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.texts4 h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 35px;
}
.texts4 h3 {
    margin-bottom: 20px;
    font-size: 22px;
    width: 550px;
}
.texts4 a {
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 20px;
}
.texts4 a:hover {
    color: #b67013;
    text-decoration: none;

}
.section7 {
    /* height: 1100px; */
    /* using specified height affects the responsiveness
    of the page, better to let the page grow with content */
    padding-top: 40px;
    padding-left: 80px;
    color: white;
    /* padding: 40px 0px 0px 80px; */
    /* display: flex; */
    /* justify-content: space-around; */
}
.texts5 p {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.texts5 h1 {
    width: 850px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 50px;
}
.section7 img {
    width: 500px;

}
.imagesgrid {
    display: grid;
    grid-template-rows:repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 50px;
    column-gap: 0px;
    padding-bottom: 50px;
}
.imagesgrid h3 {
    width: 550px;
    font-size: 20px;
}
.section8 {
    background-color: #2f1c1c;
    height: 400px;
    color: white;
}
.texts6 {
    padding-left: 100px;
    padding-top: 80px;
    width: 1000px;
}
.texts6 h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
.texts6-1 {
    display: flex;
    gap: 100px; 
}
.texts6-1 h3 {
    width: 300px;
    padding-left: 50px;
}
.texts6-1 a {
    padding-top: 20px;
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 21px;
}
.texts6-1 a:hover {
    color: #b67013;
    text-decoration: none;

}
.section9 { 
    /* height: 600px; */
    color: white;
    display: flex;
    justify-content: space-around; 
    padding-top: 100px;
}
.section9 img {
    width: 600px;
}
.texts7 {
    padding-right: 70px;
    width: 500px;
    padding-top: 100px;
}
.texts7 p {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.texts7 h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 35px;
}
.texts7 h3 {
    margin-bottom: 20px;
    font-size: 22px;
    width: 550px;
}
.texts7 a {
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 20px;
}
.section10 {
    /* height: 550px; */
    padding: 100px;
    color: white;

}
.title1 p {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title1 h1 {
    width: 800px;
    font-weight: bolder;
    font-size: 35px;
}
.grid {
    padding-top: 50px; 
    display: grid;
    grid-template-rows:repeat(3, 1fr); 
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 50px;
    column-gap: 0px;
}
/* .grid h2 { */
    /* margin-bottom: 10px; */
/* } */
.grid h4 {
    width: 300px;
    font-size: 20px;
    margin-bottom: 20px;
}
.grid a {
    padding-top: 20px;
    color: #ffe7a3;
    word-spacing: 4px;
    font-size: 21px;
}
.grid a:hover {
    color: #b67013;
    text-decoration: none;

}
.section11 {
    height: 200px; 
    background-color: #3e194b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section11 button {
    width: 180px;
    height: 50px;
    font-size: 20px; 
    color:  #3e194b;
    border-radius: 30px;
    border: none;
}
.section11 h1 {
    font-size: 40px;
    font-weight: bolder;
}
footer {
    display: flex;
}
.section12  { 
    padding-top: 40px;
    padding-left: 150px;
    display: flex;
    justify-content: space-around;
    column-gap: 150px;
    row-gap: 20px;
}
.section12 div {
    display: flex;
    flex-direction: column;
} 
.section12 a {
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}
.section12 a:hover {
    color: #b67013;
    text-decoration: none;
}
footer img {
    width: 35%;
    height: 170px;
}



@media (max-width: 769px) {
    .navbars {
        display: none;
    }

    header button {
        display: none;
    }

    .hero-left {
        display: none;
    }
    .section1 {
        flex-wrap: wrap;
    }
    .texts h1 {
        color: white;
        font-size: 45px;
        margin: 10px 0px 0px -60px;
        width: 600px;
    }

    .texts p {
        color: white;
        font-size: 20px;
        margin-top: 30px;
        width: 500px;
        margin: 30px 0px 0px -60px;
    }

    .texts button {
        color: white;
        background-color: #e03131;
        width: 150px;
        height: 42px;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        margin: 30px 0px 0px -50px;
    }

    .hero-right {
        display: block;
        width: 800px;

    }
    .section3 {
        height: 550px;
    }
    .divs {
        height: 250px;
        width: 250px;
        background-color: #2f1d1c;
        position: absolute;
        border-radius: 50%;
    }
    .section4 {
        height: 850px;
    }
    .texts2 {
        width: 600px;
    }
    .texts2  p{
        width: 600px;
        margin: 10px 0 20px 0;
    }
    .business-stage {
        width: 350px;
        padding-top: 30px;
        padding-right: 180px;
    }
    .texts3 h1 {
        padding-left: 0px;
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 40px;
        margin: 0px 0 40px -40px;

    }
    .texts3 p {
        font-size: 20px;
        width: 560px;
        margin: 10px 0 20px -40px;
        padding-left: 0px;
    }
    .texts3 a {
        color: #ffe7a3;
        word-spacing: 6px;
        font-size: 20px;
        padding-left: 0px;
        margin: 0px 0 0px -40px;

    }
    .companies {
        width: 500px;
        padding-top: 80px;
        padding-right: 40px;
        display: grid;
        grid-template-rows:repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px; 
        column-gap: 50px; 
    }
    .section6 {
        flex-wrap: wrap;
    }
    .section6 img {
        width: 550px;
        padding-top: 200px;
    }
    .section7 {
        padding-top: 200px;
    }
    .texts5 h1 {
        width: 500px;
        font-size: 40px;
    }
    .section7 img {
        width: 300px;
        border-radius: 10px;
    }
    .imagesgrid {
        row-gap: 80px;
    }
    .imagesgrid h3 {
        width: 260px;
        font-weight: lighter;
    }
    .section8 {
        height: 600px;
        /* width: 100%; */
    }
    .texts6 {
        padding-left: 100px;
        padding-top: 80px;
        width: 600px;
        font-size: 20px;
    }
    .section9 {
        flex-wrap: wrap;
    }
    .text7 {
        width: 600px;
    }
    .title1 h1 {
        width: 500px;
    }
    .grid {
        grid-template-rows:repeat(2, 1fr); 
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;


    }
    .section11 {
        width: 100%;
    }
    .section11 h1 {
        width: 250px;
        font-size: 30px;
    }
    .section12  { 
        padding-top: 40px;
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
        column-gap: 30px;
        row-gap: 20px;
    }
}
@media (max-width: 426px) {
    .texts h1 {
        color: white;
        font-size: 37px;
        padding: 10px 0px 0px 30px;
        width: 300px;
    }

    .texts p {
        color: white;
        font-size: 17px;
        margin-top: 30px;
        width: 350px;
        padding: 10px 0px 0px 30px;
    }
    .texts button {
        color: white;
        background-color: #e03131;
        width: 150px;
        height: 42px;
        font-size: 20px;
        border: none;
        border-radius: 25px;
        margin: 30px 0px 0px -30px;
    }
    .hero-right {
        width: 70%;
    }
    video {
        margin-top: 50px;
    }
    .divs {
        margin-top: 10px; 
        margin-left: 10PX;
        height: 200px;
        width: 200px;
        background-color: #2f1d1c;
        position: absolute;
        border-radius: 50%;
    }
    .line img{
        width: 300px;
    }
    .line p {
        position: relative;
        right: 100px;
        color: white;
        padding-left: 20px;
    }
    .section4 {
        height: 850px;
    }
    .texts2 {
        padding-left: 20px;
    }
    .texts2  p{
        width: 320px;
        margin: 10px 0 20px 0;
        font-size: 18px;
    }
    .business-stage {
        width: 350px;
        padding-top: 30px;
        padding-left: 40px;
    }
    .texts3 h1 {
        padding-left: 0px;
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 40px;
        margin: 0px 0 40px -40px;
        /* width: 300px; */

    }
    .texts3 p {
        font-size: 18px;
        width: 370px;
        margin: 10px 0 10px -40px;
        padding-left: 0px;
    }
    .texts3 a {
        color: #ffe7a3;
        word-spacing: 6px;
        font-size: 20px;
        padding-left: 0px;
        margin: 0px 0 0px -40px;

    }
    .companies {
        width: 400px; 
        padding-left: 15px;
        grid-template-rows:repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;  
    }
    .section6 {
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .section6 img {
        width: 350px;
        padding-top: 350px;
        /* padding-right: 800px; */
    }
    .texts4 h1 {
        font-size: 30px;
        width: 300px;
    }
    .texts4 h3 {
        width: 300px;
        font-size: 18px;
        /* padding-right: 50px; */
    }
    .section7 {
        padding-top: 200px;
        padding-left: 15px;
    }
    .texts5 h1 {
        width: 270px;
        font-size: 30px;
    }
    .section7 img {
        width: 300px;
        border-radius: 10px;
    }
    .imagesgrid {
        grid-template-rows:repeat(1, 1fr); 
        grid-template-columns: repeat(1, 1fr); 
        row-gap: 80px;
    }
    .imagesgrid h3 {
        width: 260px;
        font-weight: lighter;
    }
    .texts6 h2 {
        padding-left: 10px;
        width: 300px;
        font-size: 15px;
    }
    .texts6-1 {
        flex-wrap: wrap;
        width: 350px;
    }
    .section8 {
        height: 600px;
        padding-left: 10px;
    }
    .texts6 {
        /* padding-left: 100px; */
        padding-top: 80px;
        /* width: 600px; */
        /* font-size: 18px; */
    }
    .section9 {
        flex-wrap: wrap;
        padding-left: 15px;
    }
    .section9 img {
        width: 400px;
    }
    .texts7 h3 {
        width: 350px;
        font-size: 18px;
        /* padding-left: 15px; */
    }
    .section10 {
        padding-left: 15px;
    }
    .title1 h1 {
        width: 330px;
    }
    .grid {
        grid-template-rows:repeat(1, 1fr); 
        grid-template-columns: repeat(1, 1fr);
        /* column-gap: 30px; */


    }
    .section11 h1 {
        width: 250px;
        font-size: 30px;
    }
    footer {
        flex-wrap: wrap;
    }
    footer img{
        width: 35%; 
    }
}